@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --white: #fff;
    --transparant: rgba(0, 0, 0, 0.30);
    --gray: #ebeef1;
    --blue: #4b2add;
    --black: #333;
    --blue-lit-trans: #4b2addad;
    --blue-trans: #a491fc3f;
    --red: rgb(255, 113, 113);

}

body {
    background: var(--gray);
}

/*---------------------- NAV START ----------------------*/

main {
    display: flex;
}

nav {
    display: flex;
    flex-direction: column;
    background: var(--white);
    padding: 30px;
    height: 100vh;
}

nav .profile {
    display: flex;
    align-items: center;
    margin-bottom: 75px;
    gap: 1rem;
}

nav .profile img {
    width: 50px;
    border-radius: 50px;
}

nav .profile h1 {
    font-size: 1.3em;
    font-weight: 500;
    text-transform: capitalize;
}

nav .menus-wrapper {
    display: flex;
    flex-direction: column;
}

nav .menus-wrapper .menu-flex {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    text-decoration: none;
    padding: 0 15px;
    gap: 0.5vw;
    color: var(--black);
}

nav .menus-wrapper .menu-flex svg {
    width: 30px;
}

nav .menus-wrapper .menu-flex h2 {
    font-size: 1em;
    font-weight: 500;
}

nav .menus-wrapper .dashboard {
    background: var(--blue);
    padding: 15px;
    border-radius: 10px;
    color: var(--white);
    margin-bottom: 30px;
}

nav .menus-wrapper .dashboard path {
    stroke: var(--white);
}

nav .menus-wrapper .dashboard-non {
    margin-bottom: 30px;
}

nav .menus-wrapper .user {
    background: var(--blue);
    padding: 15px;
    border-radius: 10px;
    color: var(--white);
    margin-bottom: 30px;
}

nav .menus-wrapper .user path {
    stroke: var(--white);
}

nav .menus-wrapper .user-non {
    margin-bottom: 30px;
}

nav .menus-wrapper .gallery {
    background: var(--blue);
    padding: 15px;
    border-radius: 10px;
    color: var(--white);
    margin-bottom: 30px;
}

nav .menus-wrapper .gallery path {
    stroke: var(--white);
}

nav .menus-wrapper .gallery-non {
    margin-bottom: 30px;
}

nav .menus-wrapper .message {
    background: var(--blue);
    padding: 15px;
    border-radius: 10px;
    color: var(--white);
    margin-bottom: 30px;
}

nav .menus-wrapper .message path {
    stroke: var(--white);
}

nav .logout {
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-top: auto;
    color: var(--black);
    text-decoration: none;
    gap: 0.5vw;
}

nav .logout svg {
    width: 30px;
}

nav .logout h2 {
    font-size: 1em;
    font-weight: 500;
}

/*---------------------- NAV END ----------------------*/

/*---------------------- HOME START ----------------------*/

.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.home h1 {
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.home .path {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap: 25px;
}

.home .path h2 {
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(146, 146, 146);
}

.home .path h3 {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--blue);
}

.home .statistic {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    gap: 2vw;
}

.home .statistic .stat-box {
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--white);
    padding: 30px 50px;
    border-radius: 10px;
    gap: 20px;
}

.home .statistic .stat-box .icon-group svg {
    width: 35px;
}

.home .statistic .userss .icon-group {
    background: #a491fc3f;
    padding: 30px;
    border-radius: 10px;
}

.home .statistic .userss .icon-group path {
    fill: #4b2addad;
}

.home .statistic .stat-box h1 {
    font-size: 2em;
    font-weight: 600;
    margin: 0;
}

.home .statistic .stat-box h2 {
    font-size: 1.2em;
    font-weight: 500;
}

.home .statistic .images .icon-group {
    background: #fcf59193;
    padding: 30px;
    border-radius: 10px;
}

.home .statistic .images .icon-group path {
    fill: #ddc22aad;
}

.home .statistic .messagess .icon-group {
    background: #9afc9193;
    padding: 30px;
    border-radius: 10px;
}

.home .statistic .messagess .icon-group path {
    fill: #3fdd2aad;
}

.home .recent-group {
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.home .recent-users {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background: var(--white);
    padding: 30px;
    border-radius: 10px;
}

.home .recent-users h1 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 30px;
}

.home .recent-users span {
    background: var(--blue-lit-trans);
    padding: 0 15px;
    border-radius: 7px;
    color: var(--white);
}

.home .recent-users .table-user {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.home .recent-users .box-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #b4b4b4;
}

.home .recent-users .box-header h2 {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 2rem;
}

.home .recent-users .box-header h3 {
    margin-left: auto;
    margin-right: 2rem;
    margin-bottom: 10px;
}


.home .recent-users .box-user {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.home .recent-users .box-user img {
    width: 50px;
    border-radius: 50px;
    margin-right: 1.5rem;
    margin-left: 2rem;
}

.home .recent-users .box-user h3 {
    font-size: 1.2em;
    font-weight: 500;
    text-transform: capitalize;
}

.home .recent-users .box-user h4 {
    font-size: 1.2em;
    font-weight: 500;
    margin-left: auto;
    margin-right: 2rem;
}

.home .recent-messages {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background: var(--white);
    padding: 30px;
    border-radius: 10px;
}

.home .recent-messages h1 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 30px;
}

.home .recent-messages span {
    background: var(--blue-lit-trans);
    padding: 0 15px;
    border-radius: 7px;
    color: var(--white);
}

.home .recent-messages .table-messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.home .recent-messages .box-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #b4b4b4;
}

.home .recent-messages .box-header h2 {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 2rem;
}


.home .recent-messages .box-header h4 {
    font-size: 1.2em;
    font-weight: 600;
    margin-left: auto;
    margin-right: 2rem;
    margin-bottom: 10px;
}

.home .recent-messages .box-message {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.home .recent-messages .box-message h3 {
    width: 30%;
    display: flex;
    justify-content: left;
    font-size: 1.2em;
    font-weight: 500;
    margin-left: 2rem;
}

.home .recent-messages .box-message h5 {
    width: 70%;
    display: flex;
    justify-content: right;
    text-align: right;
    font-size: 1.2em;
    font-weight: 500;
    margin-left: auto;
    margin-right: 2rem;
}

.home .recent-messages .no-msg {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    margin: auto;

}

/*---------------------- HOME END ----------------------*/

/*---------------------- USER START ----------------------*/

.users {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.users h1 {
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.users .path {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap: 25px;
}

.users .path h2 {
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(146, 146, 146);
}

.users .path h3 {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--blue);
}

.users .recent-users {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--white);
    padding: 30px;
    border-radius: 10px;
}

.users .recent-users .title-user h1 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 30px;
}

.users .recent-users .title-user span {
    background: var(--blue-lit-trans);
    padding: 0 15px;
    border-radius: 7px;
    color: var(--white);
}

.users .recent-users .title-user {
    display: flex;
}

.users .recent-users .title-user .regis-btn {
    margin-left: auto;
    margin-top: 0.5rem;
    margin-right: 2rem;
}

.users .recent-users .title-user .regis-btn a {
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
    background: var(--blue-lit-trans);
    border-radius: 10px;
    padding: 10px;
    color: var(--white);
}

.users .recent-users .table-user {
    display: flex;
    flex-direction: column;
}

.users .recent-users .box-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #b4b4b4;
}

.users .recent-users .box-header h2 {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 5rem;
}

.users .recent-users .box-header h3 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0 auto;
}

.users .recent-users .box-header h4 {
    font-size: 1.2em;
    font-weight: 600;
    margin-right: 2rem;
}

.users .recent-users .box-user {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.users .recent-users .box-user img {
    width: 50px;
    border-radius: 50px;
    margin-right: 2rem;
}

.users .recent-users .box-user h3 {
    font-size: 1.2em;
    font-weight: 500;
    text-transform: capitalize;
}

.users .recent-users .box-user h4 {
    font-size: 1.2em;
    font-weight: 500;
    margin: 0 auto;
}

.users .recent-users .box-user a {
    font-size: 1.2em;
    font-weight: 500;
    margin-right: 30px;
    text-decoration: none;
    color: var(--red);
}

/*---------------------- USER END ----------------------*/

/*---------------------- GALLERIES START ----------------------*/

.galleries {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.galleries h1 {
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.galleries .path {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap: 25px;
}

.galleries .path h2 {
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(146, 146, 146);
}

.galleries .path h3 {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--blue);
}

.galleries .recent-galleries {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--white);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 2rem;
}

.galleries .recent-galleries .title-galleries h1 {
    font-size: 2em;
    font-weight: 600;
}

.galleries .recent-galleries .title-galleries span {
    background: var(--blue-lit-trans);
    padding: 0 15px;
    border-radius: 7px;
    color: var(--white);
}

.galleries .recent-galleries .title-galleries {
    display: flex;
}

.galleries .recent-galleries .title-galleries .addimg-btn {
    margin-left: auto;
    margin-top: 0.5rem;
    margin-right: 2rem;
}

.galleries .recent-galleries .title-galleries .addimg-btn a {
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
    background: var(--blue-lit-trans);
    border-radius: 10px;
    padding: 10px;
    color: var(--white);
}

.galleries .galleries-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.galleries .galleries-wrapper .galleries-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    flex: 0 1 calc(33.333% - 30px);
    box-shadow: 0 10px 10px 0 #33333318;
}

.galleries .galleries-wrapper .galleries-box .galleries-header {
    display: flex;
    position: relative;
    width: 100%;
    height: 150px;
}

.galleries .galleries-wrapper .galleries-box .galleries-header img {
    width: 100%;
    object-fit: cover;
}

.galleries .galleries-wrapper .galleries-box .galleries-header .galleries-date {
    position: absolute;
    bottom: 0;
    left: 30px;
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 20px 20px 0 0;
}

.galleries .galleries-wrapper .galleries-box .galleries-header .galleries-delete {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--white);
    border-radius: 0 0 0 20px;
    padding: 5px 10px;
}

.galleries .galleries-wrapper .galleries-box .galleries-header .galleries-delete svg {
    width: 30px;
}

.galleries .galleries-wrapper .galleries-box .galleries-header .galleries-delete path {
    stroke: var(--red);
}

.galleries .galleries-wrapper .galleries-box .parag-footer {
    padding: 30px;
}

/*---------------------- GALLERIES END ----------------------*/

/*---------------------- MESSAGES START ----------------------*/

.messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.messages h1 {
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.messages .path {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap: 25px;
}

.messages .path h2 {
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(146, 146, 146);
}

.messages .path h3 {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--blue);
}

.messages .recent-messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--white);
    padding: 30px;
    border-radius: 10px;
}

.messages .recent-messages h1 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 30px;
}

.messages .recent-messages span {
    background: var(--blue-lit-trans);
    padding: 0 15px;
    border-radius: 7px;
    color: var(--white);
}

.messages .recent-messages .table-messages {
    display: grid;
    width: 100%;
    height: 58vh;
    box-sizing: border-box;
    padding: 5px;
    grid-template-columns: 0.5fr 1.5fr 2fr 0.5fr;
    row-gap: 2rem;
    text-align: center;
    overflow-y: auto;
}

.messages .recent-messages .table-messages .head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: 600;
    border-bottom: 2px solid #b4b4b4;
    padding-bottom: 10px;
}

.messages .recent-messages .table-messages .head1 {
    justify-content: left;
    padding-left: 2rem;
}

.messages .recent-messages .table-messages .head4 {
    justify-content: right;
    padding-right: 2rem;
}

.messages .recent-messages .table-messages .main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: 500;
    word-wrap: break-word;
    white-space: normal;
}

.messages .recent-messages .table-messages .main1 {
    justify-content: left;
    padding-left: 2rem;
}

.messages .recent-messages .table-messages .main4 {
    justify-content: right;
    padding-right: 2rem;
}

.messages .recent-messages .table-messages a {
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    color: var(--red);
}

.messages .recent-messages .no-msg {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/*---------------------- MESSAGES END ----------------------*/