@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --white: #fff;
    --transparant: rgba(0, 0, 0, 0.30);
    --gray: #ebeef1;
    --blue: #4b2add;
    --black: #333;

}

/*---------------------- NAV START ----------------------*/

main {
    display: flex;
    gap: 5vw;
}

nav {
    display: flex;
    flex-direction: column;
    background: var(--gray);
    padding: 30px;
    height: 100vh;
}

nav .profile {
    display: flex;
    align-items: center;
    margin-bottom: 75px;
    gap: 0.5vw;
}

nav .profile img {
    width: 50px;
    border-radius: 50px;
}

nav .profile h1 {
    font-size: 1.3em;
    font-weight: 500;
}

nav .menus-wrapper {
    display: flex;
    flex-direction: column;
}

nav .menus-wrapper .menu-flex {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    text-decoration: none;
    padding: 0 15px;
    gap: 0.5vw;
    color: var(--black);
}

nav .menus-wrapper .menu-flex svg {
    width: 30px;
}

nav .menus-wrapper .menu-flex h2 {
    font-size: 1em;
    font-weight: 500;
}

nav .menus-wrapper .home {
    background: var(--blue);
    padding: 15px;
    border-radius: 10px;
    color: var(--white);
    margin-bottom: 30px;
}

nav .menus-wrapper .home path {
    stroke: var(--white);
}

nav .logout {
    display: flex;
    align-items: center;
    padding: 0 15px;
    gap: 0.5vw;
    margin-top: auto;
}

nav .logout svg {
    width: 30px;
}

nav .logout h2 {
    font-size: 1em;
    font-weight: 500;
}

/*---------------------- NAV END ----------------------*/