@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --transparant: rgba(0, 0, 0, 0.30);
    --black: #333;
    --gray: #ebeef1;
}

body {
    background: linear-gradient(35deg, #fcfdee, #c5bddf);
    overflow: hidden;
}

main {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.slides {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 50px;
    color: #fff;
    scroll-snap-align: start;
}

#transition-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Warna transisi */
    z-index: 9999;
    transform: translateX(-100%); /* Awalnya di luar layar */
}


/*---------------------- SLIDE 1 START ----------------------*/

.slide1 {
    position: relative;
}

.slide1 nav {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    z-index: 1;
    gap: 1vw;
}

.slide1 nav .wrapper-nav {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 10px 20px 0 #4444441e;
    background-color: #fff;
    border-radius: 50px;
    gap: 3vw;
    overflow: hidden;
}

.slide1 nav .wrapper-nav h2 {
    display: flex;
    color: #eee;
    background-color: #333;
    padding: 10px 40px;
    border-radius: 50px;
}

.slide1 nav .wrapper-nav ul{
    display: flex;
    list-style: none;
    gap: 1vw;
}

.slide1 nav .wrapper-nav ul li a {
    background: var(--white);
    padding: 0.8rem 1.5rem;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.3em;
    color: #333;
    overflow: hidden;
    line-height: 2em;
    transition: 0.3s ease;
}

.slide1 nav .wrapper-nav ul li a:hover {
    opacity: 0.5;
}

.slide1 nav .wrapper-nav ul li a.active {
    background: var(--black);
    color: var(--white);
    padding: 0.8rem 1.5rem;
    border-radius: 50px;
}

.slide1 nav .wrapper-nav2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide1 nav .wrapper-nav2 a {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.3em;
    background: #333;
    padding: 0 30px;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 0 10px 20px 0 #44444428;
    color: #fff;
    transition: 0.3s ease;
}

.slide1 nav .wrapper-nav2 a:hover {
    opacity: 0.5;
}

.slide1 article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    color: #333;
    margin-left: 5vw;
}

.slide1 article h1 {
    font-size: 3em;
    max-width: 40vw;
}

.slide1 article p {
    font-size: 1.5em;
    max-width: 50vw;
}

.slide1 article button {
    all: unset;
    background-color: #333;
    padding: 15px 25px;
    border-radius: 50px;
    color: #eee;
    font-size: 1.2em;
    cursor: pointer;
}

/*---------------------- SLIDE 1 END ----------------------*/

/*---------------------- SLIDE 2 START ----------------------*/

.slide2 {
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: transform, opacity;
}

.slide2 article {
    /* width: 98%; */
    /* background: var(--blue); */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-radius: 20px;
    padding: 50px 0; */
    color: #333;
}

.slide2 article h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.slide2 article h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.slide2 article p {
    font-size: 1.1em;
    text-align: center;
}

.slide2 article .box-wrapper {
    display: flex;
    gap: 1vw;
    margin-top: 40px;
    margin-bottom: 40px;
}

.slide2 article .box-wrapper .box {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #333;
    border-radius: 20px;
    padding: 60px 70px;
    color: #eee;
}

.slide2 article .box-wrapper .box h1 {
    margin: 0;
}

.slide2 article .box-wrapper .box h2 {
    font-size: 1.2em;
    font-weight: 400;
}

.slide2 article .parag-end {
    max-width: 70%;
}

/*---------------------- SLIDE 2 END ----------------------*/

/*---------------------- SLIDE 3 START ----------------------*/

.slide3 article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
}

.slide3 article h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.slide3 article .img-wrapper {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    gap: 30px;
}

.slide3 article .img-wrapper .img-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    flex: 1 1 calc(44.444% - 40px);
    box-shadow: 0 10px 10px 0 #33333318;
}

.slide3 article .img-wrapper .img-box .img-header {
    display: flex;
    position: relative;
    width: 100%;
    height: 150px;
}

.slide3 article .img-wrapper .img-box .img-header img {
    width: 100%;
    object-fit: cover;
}

.slide3 article .img-wrapper .img-box .img-header .img-date {
    position: absolute;
    bottom: 0;
    left: 30px;
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 20px 20px 0 0;
}

.slide3 article .img-wrapper .img-box .parag-footer {
    padding: 30px;
}

/* .slide3 article .img-wrapper .img-box .img-header .img1 {
    object-position: center -190px;
}

.slide3 article .img-wrapper .img-box .img-header .img2 {
    object-position: center -100px;
}

.slide3 article .img-wrapper .img-box .img-header .img3 {
    object-position: center -260px;
}

.slide3 article .img-wrapper .img-box .img-header .img4 {
    object-position: center -160px;
} */

/*---------------------- SLIDE 3 END ----------------------*/

/*---------------------- SLIDE 4 START ----------------------*/

.slide4 {
    /* background: linear-gradient(454deg, #98dfa4, #88d6e0); */
    display: flex;
    align-items: flex-end;
}

.slide4 footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45vw;
    background-color: #333;
    border-radius: 250px 250px 0 0;
    gap: 4vw;
}

.slide4 footer .img-footer {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: -6.5rem;
}

.slide4 footer .img-footer img {
    width: 90%;
}

.slide4 footer .text-footer {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slide4 footer .text-footer h1 {
    font-size: 5em;
    line-height: 1.1em;
    max-width: 50%;
    margin-bottom: 30px;
}

.slide4 footer .text-footer p {
    margin-bottom: 30px;
}

.slide4 footer .text-footer .social-icon {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
    transition: 0.3s ease;
}

.slide4 footer .text-footer .social-icon svg {
    transition: 0.3s ease;
    cursor: pointer;
}

.slide4 footer .text-footer .social-icon svg:hover {
    opacity: 0.5;
}

.slide4 footer .text-footer .social-icon .social-btn {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    margin-left: 20px;
    color: #333;
    gap: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}

.slide4 footer .text-footer .social-icon .social-btn:hover {
    opacity: 0.5;
}

/*---------------------- SLIDE 4 END ----------------------*/

/*---------------------- LEFT START ----------------------*/

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.contact .left {
    display: flex;
    flex-direction: column;
}

.contact .left h1 {
    font-size: 2em;
    font-weight: 400;
    line-height: 1.3em;
}

.contact .left h2 {
    font-size: 4em;
    letter-spacing: 0.5em;
    margin-top: 10px;
    background: #333;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

/*---------------------- LEFT END ----------------------*/

/*---------------------- RIGHT START ----------------------*/

.contact .right form {
    display: flex;
    flex-direction: column;
    background: #333;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
}

.contact .right h1 {
    font-size: 2em;
    text-align: center;
}

.contact .right .form-group {
    display: flex;
    flex-direction: column;
}

.contact .right .form-group label {
    margin-bottom: 5px;
}

.contact .right .form-group input {
    margin-bottom: 20px;
}

.contact .right .form-group input[type=text] {
    outline: none;
    border: none;
    width: 300px;
    height: 40px;
    padding: 0 15px;
    border-radius: 7px;
    transition: 0.3s ease;
}

.contact .right .form-group input[type=text]:focus {
    border: 1px solid #fff;
    box-shadow: 0 0 10px 2px #fff;
}

.contact .right .form-group input[type=email] {
    outline: none;
    border: none;
    width: 300px;
    height: 40px;
    padding: 0 15px;
    border-radius: 7px;
    transition: 0.3s ease;
}

.contact .right .form-group input[type=email]:focus {
    border: 1px solid #fff;
    box-shadow: 0 0 10px 2px #fff;
}

.contact .right .form-group textarea {
    outline: none;
    border: none;
    width: 300px;
    height: 100px;
    padding: 10px 15px;
    border-radius: 7px;
    transition: 0.3s ease;
}

.contact .right .form-group textarea:focus {
    border: 1px solid #fff;
    box-shadow: 0 0 10px 2px #fff;
}

.contact .right .form-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 1vw;
}

.contact .right .form-btn button {
    all: unset;
    width: 100%;
    padding: 7px 20px;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
}

.contact .right .form-btn .delete {
    border: 1px solid #fff;
    color: #fff;
}

.contact .right .form-btn .submit {
    background: #fff;
    color: #333;
}

.contact .right a {
    display: flex;
    background: #333;
    justify-content: center;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px;
    color: #fff;
}

/*---------------------- RIGHT END ----------------------*/

/*---------------------- LOGIN START ----------------------*/

.login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login h1 {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

.login section form {
    display: flex;
    flex-direction: column;
    background: #333;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
}

.login section form label {
    margin-bottom: 5px;
}

.login section form input[type=text],
input[type=password] {
    outline: none;
    border: none;
    width: 300px;
    height: 40px;
    padding: 0 20px;
    border-radius: 7px;
    margin-bottom: 10px;
    transition: 0.3s ease;
}

.login section form input[type=text]:focus {
    border: 1px solid #fff;
    box-shadow: 0 0 10px 2px #fff;
}

.login section form button {
    all: unset;
    padding: 5px;
    background: #fff;
    border-radius: 7px;
    text-align: center;
    margin-top: 20px;
    color: #333;
    cursor: pointer;
}

.login section a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    background: #333;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    color: #fff;
}

.login .error {
    text-align: center;
    margin-bottom: 10px;
    color: rgb(255, 99, 99);
}

/* .login section form input[type=file] {
    display: none;
}

.login section form .img-profile {
    text-align: center;
    border: 2px solid var(--white);
    border-radius: 7px;
    padding: 5px;
    color: var(--white);
    cursor: pointer;
} */

.login section form input[type=file] {
    background: var(--white);
    border-radius: 7px;
    color: var(--black);
    outline: none;
    border: none;
}

::-webkit-file-upload-button {
    all: unset;
    background: var(--black);
    padding: 10px;
    color: var(--white);
    margin-right: 1rem;
}

/*---------------------- LOGIN END ----------------------*/